Repository PlaceOS/driver, pull requests merged in 2022-02, with the labels that each got.

#139 feat: add success and failure codes to request processing
  shard.yml
  spec/protocol_management_spec.cr
  src/placeos-driver/driver_manager.cr
  src/placeos-driver/exception.cr
  src/placeos-driver/protocol/management.cr
  src/placeos-driver/protocol/request.cr
  src/placeos-driver/proxy/remote_driver.cr
  src/placeos-driver/task.cr
Labels: focus: backend, product: placeos, priority: low

#141 feat: add `rescue_from` helper methods
  shard.yml
  spec/driver_spec.cr
  spec/process_manager_spec.cr
  spec/test_build.cr
  src/placeos-driver.cr
  src/placeos-driver/driver_manager.cr
  src/placeos-driver/utilities/rescue_from.cr
Labels: focus: backend, product: placeos, priority: medium

#142 fix(remote_driver): correct type on remote-driver exec
  shard.yml
  src/placeos-driver/proxy/remote_driver.cr
Labels: type: bug

#143 feat(transport http): add support for transparent HTTP Cookies
  shard.yml
  spec/transport_http_spec.cr
  src/placeos-driver/subscriptions.cr
  src/placeos-driver/transport.cr
  src/placeos-driver/transport/http.cr
Labels: focus: backend, product: placeos, priority: high, squad: core
